<%- include('header')%>
<div class="background">
    <div class="content">
        <h2>Welcome to our page!</h2>
        <div class="float-left">
            <div class="float-left1">
                <p class="text-left"><br />
                    Our site is made so that you could look over statistics of your favourite<br />
                    <a href="/teams">teams</a> and <a href="/players">players.</a><br />
                    These statistic will provide you with a good overall sense about how good these players <br />were/are compared to each other.
                    You can find out about what teams were <br />the best throughout the games history.
                </p>
            </div>
        </div>
        <div class="float-right"> <img src="bb.jpg" class="rounded float-fluid" alt="..."></div><br>

        <div class="float-left">
            <img src="bb.jpg" class="rounded float-fluid" alt="...">
        </div>
        <div class="float-right">
            <div class="float-right1">
                <p class="text-left"><br />
                    You are more than welcome to look at these players and compare them by stats such as: <br />
                    - Points per game<br />
                    - Assists per game<br />
                    - Rebounds per game<br />
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('footer')%>
